<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger" style="margin-inline-start: 0px;margin-inline-end: 0px;">
                        <h4 class="card-title">Slack Integration</h4>
                    </div>
                    <!-- <div class="card-body">
                    </div> -->
                </div>
                <button type="button" class="btn btn-save" (click)="initiate_slack_oauth();" style="width: 200px;">Login with Slack</button>
                <mat-card style="margin-block-start: 2%;" >
                    <ul>
                        <li *ngFor="let slack_team_integration of slack_team_integrations">
                            WORKSPACE : {{ slack_team_integration.slack_team.name }}
                            <br>
                            <div class="card"
                                *ngFor="let slack_channel of slack_team_integration.slack_team.slack_channels">
                                <div class="row">
                                    <div class="col-sm-6 d-flex justify-content-center align-items-center">
                                        {{ slack_channel.name }}
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-label>Select Bot</mat-label>
                                            <mat-select (selectionChange)="doSomething(slack_channel, $event)"
                                                [(ngModel)]="slack_channel.bot_id">
                                                <mat-option value="">--Detach Bot--</mat-option>
                                                <mat-option *ngFor="let bot of bots" [value]="bot.id">
                                                    {{bot.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </mat-card>
            </div>
        </div>
    </div>
</div>